{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="create_body">
    <h1 class="create_h1">Create a Note</h1>
    <form method="POST" class="create_form">
        {% csrf_token %}
        
        <input type="text" placeholder="Title" name="title" class="create_input"><br><br>

        <select class="category_select" name="category" required>
            <option value="">Select Category</option>
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="Study">Study</option>
            <option value="Shopping">Shopping</option>
            <option value="Ideas">Ideas</option>
            <option value="Others">Others</option>
        </select>

        <textarea placeholder="Content" name="content" class="create_textarea"></textarea><br><br>

        <button type="submit" class="create_button">Create Note</button>

        <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>

    </form>
</body>
</html> 