{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header-container">
        <div class="logo-header">
            <img src="{% static 'images/tool.png' %}" alt="Logo">
            <a href="{% url 'home' %}" class="header_name">Notes App</a>
        </div>
        
        <div class="search-box">
            <form method="GET" action="{% url 'home' %}">
                <input type="text" name="search" placeholder="Search notes..." value="{{ request.GET.search }}">
                <button type="submit">Search</button>
            </form>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>
    </header>
    <section>
        <div class="top-section">
            <div class="welcome">
                <h2>Welcome, {{ request.user.username }} 👋</h2>
                <p>Here are your notes:</p>
            </div>

            <div>
                <a href="{% url 'create_note' %}" class="create-btn">+ Create Note</a>
            </div>
        </div>

        <div class="notes-container">
            {% for i in items %}

            <div class="note-card">
                <h3>{{ i.title }}</h3>
                <span class="category">{{ i.category }}</span>
                <p>{{ i.content }}</p>
                    <a href="{% url 'update' i.id %}" class="edit-btn">Edit</a>
                    <a href="{% url 'delete' i.id %}" class="delete-btn">Delete</a>
            </div>
            {% endfor %}
        </div>
</section>     
</body>
</html>