{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Note</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="update_body">
    <header class="header-container">
        <a href="{% url 'home' %}" class="header_name">Notes App</a>
        <div>
            <input type="text" placeholder="Search notes...">
            <button type="submit">Search</button>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>
    </header>  
<form method="POST" class="update_form">
    {% csrf_token %}

    <h2>Update Note</h2>

    <input type="text" name="title" value="{{ note.title }}" placeholder="Title" class="input" required>

    <select class="category_select" name="category" required>
        <option value="Personal" {% if note.category == "Personal" %}selected{% endif %}>Personal</option>
        <option value="Work" {% if note.category == "Work" %}selected{% endif %}>Work</option>
        <option value="Study" {% if note.category == "Study" %}selected{% endif %}>Study</option>
        <option value="Shopping" {% if note.category == "Shopping" %}selected{% endif %}>Shopping</option>
        <option value="Ideas" {% if note.category == "Ideas" %}selected{% endif %}>Ideas</option>
        <option value="Others" {% if note.category == "Others" %}selected{% endif %}>Others</option>
    </select>

    <textarea name="content" placeholder="Write your note here..." class="textarea" required >{{ note.content }}</textarea>

    <button type="submit" class="button">Update Note</button>

    <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>

</form>

</body>
</html>